
html,
body {
  height: 100%;
}
.signupPage{
  /* height: 100vh; */
  background-image: url(https://cdn.wallpapersafari.com/18/91/q3SB7J.jpg);
  background-size: cover;
  width: 100%; 
}

.signupForm{
  height: 100vh;
  align-items: center;
  background-color: #000000cb;
  
  /* max-width: 420px; */
  border-radius: 10px;
  padding-top: 2rem;
}
.signupForm h1{
  color: rgb(219, 208, 208);
}
.form-group{
  color: rgb(219, 208, 208);
}

.btn-primary {
  background-color: #5000ff;
}
.btn-primary:hover {
  background-color: #4d02ee;
}

.error-text {
  text-align: center;
  color: #ff0000;
}

.links {
  text-align: right;
  margin-top: 1rem;
}

.links a {
  margin-top: 0.5rem;
}

.content {
  margin-top: 6rem;
  padding: 1rem;
}

.my-2 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

hr.divider {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

hr.divider:after {
  content: "Or";
  display: inline-block;
  position: relative;
  top: -14px;
  text-align: center;
  padding: 0 16px;
  background-color: #f5f5f5;
}

.auth-container {
  padding: 15px;
  margin: 0 auto;
}

.auth-container .form-control {
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.auth-container input[type="email"] {
  margin-bottom: -1px;
}