
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
.header-movie{
    background: rgb(27,27,27);
    background: linear-gradient(180deg, rgba(27,27,27,1) 32%, rgba(66,66,66,1) 100%);
    .nav-item{
        color: rgb(255, 255, 255);
    }
    
}

