
.profilePage{
  background: rgb(136,125,0);
background: radial-gradient(circle, rgba(136,125,0,1) 0%, rgba(29,29,29,1) 100%);

  height: 100vh;
}
.profileOverview{
background: rgb(255, 255, 255);

border-radius: 10px;
padding-top: 20px;
padding-bottom: 20px;

}
.avatar i{
  background-color: rgb(0, 87, 0);
  padding: 41px;
  font-size: 3rem;
  border-radius: 50%;
  color: white; 
  margin-left: 25%; 
}

.lsdatve{
  background-color: white;
  border-radius: 10px;
}
